
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Azeret Mono", monospace;
}
         /* ===========  bannner part start here ========== */
.nav{
    max-width:1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}
.nav button{
    padding: 17px 23px;
    border-radius: 8px;  
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    background-color: white;

}
.nav h2{
    padding: 10px;
}

.banner-container{
    max-width:1440px;
    min-height: 652px;
    margin: 0 auto;
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 74px;
}

.banner-img-content{
    width: 998px;
    height: 582px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.banner-img-content h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 32px 0 24px 0;
}
.banner-img-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 32px;
}

.banner-img-content a{
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    cursor: pointer;
    text-decoration: none;
}

/* =====================  banner part end here ============= */

/* ================= web development part start here ============= */

.web-dev-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
}

.web-dev-items{
    width: 946px;
    height: 1233px;
    margin: 0 auto;
    margin-top: 80px;
}

.web-dev-content h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.web-dev-content p{
    color: rgb(13, 19, 33);   
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}

.do-code-container{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.do-code-items{
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    
}
.do-code-content{
    width: 477px;
}

.do-code-img{
    width: 260px;
    margin-left: 105px;
}

.do-code-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 16px 0;
}
.do-code-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.do-code-content button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
}


.web-system-container{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.web-system-items{
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    
}

.web-system-content{
    margin:10px 100px 10px 32px;
}
.web-system-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 16px 0;
}
.web-system-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.web-system-content button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
}

/* ======== web development part end ========= */

/* ======== inspiration part start here ========== */
.inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}

.inspiration-content{
    width: 852px;
    margin: 0 auto;
}
.inspiration-content h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiration-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin: 24px 0 48px 0;

}

.inspiration-youtube-container{
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.inspiration-youtube-iframe iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 0 auto;
    margin: 33px;
    
}
/* ========== inspiration end here ========== */

/* ================ target part start ============= */

.target-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 150px;
}
.target-content h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.target-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding: 24px 144px 48px 144px;
    text-align: center;
}
.target-items{
    width: 1140px;
    height: 300px;
    display: flex;
    column-gap: 24px;
}

.target-items .target-item-1{
    width: 364px;
    height: 300px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-items .target-item-2{
    width: 364px;
    height: 300px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-items .target-item-3{
    width: 364px;
    height: 300px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.target-items .target-item-1 h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target-items .target-item-1  p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 24px 0;
}
.target-items .target-item-1  a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
.target-items .target-item-2 h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target-items .target-item-2  p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 24px 0;
}
.target-items .target-item-2  a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
.target-items .target-item-3 h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.target-items .target-item-3  p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 24px 0;
}
.target-items .target-item-3  a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

        /* ================ target part end here ============= */
 
        /* ==============  support part start ========== */
        

.support-banner-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    border-radius: 16px;
    background-image:url("../images/handshake.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(30, 30, 30);
    background-blend-mode: overlay;
    margin-top: 49px;
}

.support-content{
    padding: 64px 48px;
    text-align: center;
}

.support-content h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}
.support-content p{
    margin-top: 16px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.form{
    display: flex;
    justify-content: center;
    column-gap: 16px;
}
.form .text{
    width: 548px;
    padding: 19px 20px;
    border-radius: 8px;
    border: none;
}

.form .text::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
}
.form .btn{
    width: 120px;
    padding: 17px 20px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

        /* ==============  support part end  ========== */

        /* ============ footer part start here ======== */

#footer-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid rgba(230, 217, 217, 0.225);
    border-radius: 16px;
    margin-top: 80px;
    background-color: rgba(13, 19, 33, 0.03);
}

.footer-items{
    width: 1140px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.footer-content h3{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding-top: 7px;
}

.footer-item-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}

            /* ============== footer part end here =========== */